<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="kerby_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>kerby_hw_interface/KerbyArmInterface</plugin>
            </hardware>
            <joint name="hd_joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="finger1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>

    <xacro:macro name="kerby_base_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>kerby_hw_interface/KerbyBaseInterface</plugin>
            </hardware>
            <joint name="pivot_gauche">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['pivot_gauche']}</param>
                </state_interface>
            </joint>
            <joint name="steering1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['steering1']}</param>
                </state_interface>
            </joint>
            <joint name="driving1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['driving1']}</param>
                </state_interface>
            </joint>
            <joint name="steering4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['steering4']}</param>
                </state_interface>
            </joint>
            <joint name="driving4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['driving4']}</param>
                </state_interface>
            </joint>
            <joint name="pivot_droit">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['pivot_droit']}</param>
                </state_interface>
            </joint>
            <joint name="steering2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['steering2']}</param>
                </state_interface>
            </joint>
            <joint name="driving2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['driving2']}</param>
                </state_interface>
            </joint>
            <joint name="steering3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['steering3']}</param>
                </state_interface>
            </joint>
            <joint name="driving3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['driving3']}</param>
                </state_interface>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>