<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="kerby_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>


    <ros2_control name="GazeboSystem" type="system">
        
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
      <joint name="hd_joint1">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">${initial_positions['hd_joint1']}</param>
            </state_interface>
            <state_interface name="velocity"/>
          
      </joint>
      <joint name="hd_joint2">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">${initial_positions['hd_joint2']}</param>
            </state_interface>
            <state_interface name="velocity"/>
        
    </joint>


    
    </ros2_control>


    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find rover_description)/config/control.yaml</parameters>
        </plugin>
    </gazebo>  


       <gazebo>
        <plugin name="rover_joint_state" filename="libgazebo_ros_joint_state_publisher.so">
            <update_rate>10</update_rate>

            <!-- <joint_name>right_pivot</joint_name>
            <joint_name>left_pivot</joint_name> -->
           


           <joint_name>hd_joint1</joint_name>
           <joint_name>hd_joint2</joint_name>
           <!-- <joint_name>hd_joint3</joint_name>
           <joint_name>hd_joint4</joint_name>
           <joint_name>hd_joint5</joint_name>
           <joint_name>hd_joint6</joint_name> -->



            
        </plugin>
    </gazebo>
     
    </xacro:macro>
</robot>
