<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="kerby_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>kerby_hw_interface/KerbyArmInterface</plugin>
            </hardware>
            <joint name="hd_joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hd_joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hd_joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hd_joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hd_joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hd_joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hd_joint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hd_joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hd_joint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hd_joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hd_joint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hd_joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>



        <!-- <gazebo>
          <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
              <parameters>$(find onyx_descriptioni)/config/ros2_controllers.yaml</parameters>
          </plugin>
        </gazebo>   -->


        <gazebo>
          <plugin name="rover_joint_state" filename="libgazebo_ros_joint_state_publisher.so">
              <update_rate>50</update_rate>

              <!-- <joint_name>right_pivot</joint_name>
              <joint_name>left_pivot</joint_name> -->
            


            <joint_name>hd_joint1</joint_name>
            <joint_name>hd_joint2</joint_name>
            <joint_name>hd_joint3</joint_name>
            <joint_name>hd_joint4</joint_name>
            <joint_name>hd_joint5</joint_name>
            <joint_name>hd_joint6</joint_name>



              
          </plugin>
        </gazebo>


    </xacro:macro>
</robot>
