<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">





    <joint name="camera_joint" type="fixed">
      <origin xyz="-0.325 0.02 0" rpy="0 0 ${pi}"/>
      <parent link="chassis_link"/>
      <child link="camera_link"/>
    </joint>


    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/> 
    </joint>


    <link name="camera_link_optical"></link>



  <link name="camera_link">
    <visual name="camera_visual">
      <geometry>
          <mesh filename="$(find rover_description)/meshes/OAK-D.dae" />
        </geometry>
    </visual>
    <collision>
      <origin xyz="0.4 0 0.11" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.05" radius="0.025"/>
      </geometry>
    </collision>
    <xacro:inertial_cylinder mass="0.1" length="0.05" radius="0.025">
      <origin xyz="0.4 0 0.11" rpy="0 0 0"/>
    </xacro:inertial_cylinder>  
  </link>

  <gazebo reference="camera_link">
    <sensor name="stereo" type="depth">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>10</update_rate>
        <camera name="stereo">
          <horizontal_fov>1.26</horizontal_fov>
          <vertical_fov>0.86</vertical_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.7</near>
            <far>8.0</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="depth" filename="libgazebo_ros_camera.so">
            <camera_name>stereo</camera_name>
            <frame_name>camera_optical_link</frame_name>
            <hack_baseline>0.07</hack_baseline>
            <min_depth>0.1</min_depth>
            <max_depth>100.0</max_depth>
        </plugin>
      </sensor>
    </gazebo>


</robot>
