<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kerby">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import kerby urdf file -->
    <xacro:include filename="$(find kerby_description_ugly)/urdf/kerby.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="kerby.ros2_control.xacro" />


    <xacro:kerby_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
