<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">


<xacro:include filename="$(find rover_description)/description/inertial_macros.xacro" />


    <joint name="imu_joint" type="fixed">
        
        <origin xyz="0.2 0 0.11" rpy="0 0 -${pi}"/>
        <parent link="chassis_link"/>
        <child link="imu_link"/>
    </joint>


    <link name="imu_link">
        <collision>
            <origin xyz="0.2 0 0.11" rpy="0 0 -1.57"/>
            <geometry>
                <cylinder radius="0.02" length="0.04"/>
            </geometry>
        </collision>
        <visual>
            <geometry>
                <cylinder radius="0.02" length="0.04"/>
            </geometry>
            
        </visual>
        <xacro:inertial_cylinder mass="0.1" length="0.04" radius="0.02">
            <origin xyz="0.2 0 0.11" rpy="0 0 -1.57"/>
        </xacro:inertial_cylinder>   
    </link>
    
    <gazebo reference="imu_link">
        <sensor name='imu_sensor' type='imu'>
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>false</visualize>
            <pose>0 0 0 0 0 0</pose>
            
            <plugin name='imu_plugin' filename='libgazebo_ros_imu_sensor.so'>
                <ros>
                   <namespace>/ouster</namespace>
                    <remapping>~/out:=imu</remapping>
                </ros>
                <output_type>sensor_msgs/msg/Imu</output_type>
                <frame_name>imu_sensor_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>


  
</robot>