<?xml version="1.0"?>
<robot name="depthai_camera" xmlns:xacro="http://ros.org/wiki/xacro">

    
        

    
    <joint name="camera_joint" type="fixed">
        <origin xyz="-0.325 0.02 0" rpy="0 0 ${pi}"/>
        <parent link="chassis_link"/>
        <child link="camera_link"/>
      </joint>
  
  
      <joint name="camera_optical_joint" type="fixed">
          <parent link="camera_link"/>
          <child link="camera_link_optical"/>
          <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/> 
      </joint>
  
  
      <link name="camera_link_optical"></link>
  

    <link name="camera_link">
      <visual name="camera_visual">
        <geometry>
            <mesh filename="$(find rover_description)/meshes/OAK-D.dae" />
          </geometry>
      </visual>
      <collision>
        <origin xyz="0.4 0 0.11" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.05" radius="0.025"/>
        </geometry>
      </collision>
      <xacro:inertial_cylinder mass="0.1" length="0.05" radius="0.025">
        <origin xyz="0.4 0 0.11" rpy="0 0 0"/>
      </xacro:inertial_cylinder>  
    </link>


        <!-- RGB HD camera -->
        
            <!-- <gazebo reference="camera_link">
                <sensor type="camera" name="rgb">
                    <update_rate>30.0</update_rate>
                    <camera name="rgb">
                        <horizontal_fov>1.3962634</horizontal_fov>
                        <image>
                            <width>1920</width>
                            <height>1280</height>
                            <format>R8G8B8</format>
                        </image>
                        <clip>
                            <near>0.02</near>
                            <far>300</far>
                        </clip>
                        <noise>
                            <type>gaussian</type>          
                            <mean>0.0</mean>
                            <stddev>0.007</stddev>
                        </noise>
                    </camera>
                    
                    <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                        <alwaysOn>true</alwaysOn>
                        <updateRate>0.0</updateRate>
                        <cameraName>oakd/rgb</cameraName>
                        <imageTopicName>image</imageTopicName>
                        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                        <frameName>camera_link_optical</frameName>
                        <hackBaseline>0.07</hackBaseline>
                        <distortionK1>0.0</distortionK1>
                        <distortionK2>0.0</distortionK2>
                        <distortionK3>0.0</distortionK3>
                        <distortionT1>0.0</distortionT1>
                        <distortionT2>0.0</distortionT2>
                    </plugin>

                </sensor>
            </gazebo> -->
        
                
        <!-- DEPTH -->
        
            <gazebo reference="camera_link">
                <sensor name="depth" type="depth">
                    <update_rate>20</update_rate>
                    <camera>
                        <horizontal_fov>1.3962634</horizontal_fov>
                        <image>
                            <width>640</width>
                            <height>480</height>
                            <format>B8G8R8</format>
                        </image>
                        <clip>
                            <near>0.05</near>
                            <far>15</far>
                        </clip>
                    </camera>
                    <plugin name="depth_controller" filename="libgazebo_ros_camera.so">
                        <baseline>0.2</baseline>
                        <alwaysOn>true</alwaysOn>
                        <updateRate>1.0</updateRate>
                        <cameraName>oakd</cameraName>
                        <imageTopicName>resized/image</imageTopicName>
                        <cameraInfoTopicName>resized/camera_info</cameraInfoTopicName>
                        <depthImageTopicName>stereo/depth</depthImageTopicName>
                        <!--<depthImageInfoTopicName>/stereo/camera_info</depthImageInfoTopicName>-->
                        <!-- Gazebo does not care of this parameter and publishes info to ...camera_name/depth/camera_info-->
                        <pointCloudTopicName>stereo/points</pointCloudTopicName>
                        <frameName>camera_link_optical</frameName>
                        <pointCloudCutoff>0.4</pointCloudCutoff>
                        <pointCloudCutoffMax>8.0</pointCloudCutoffMax>
                        <distortionK1>0.00000001</distortionK1>
                        <distortionK2>0.00000001</distortionK2>
                        <distortionK3>0.00000001</distortionK3>
                        <distortionT1>0.00000001</distortionT1>
                        <distortionT2>0.00000001</distortionT2>
                        <CxPrime>0</CxPrime>
                        <Cx>0</Cx>
                        <Cy>0</Cy>
                        <focalLength>0</focalLength>
                        <hackBaseline>0</hackBaseline>
                    </plugin>
                </sensor>
            </gazebo>
        

                       
</robot>